<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lww.dao.IRoleMenuDao" >


    <sql id="Base_Column_List" >
        id, role_id, menu_id, is_use, create_date, update_date
    </sql>

</mapper>