<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lww.dao.IUserRoleDao" >
    <sql id="Base_Column_List" >
        id, user_id, role_id, is_use, create_date, update_date, create_by, update_by
    </sql>
    <insert id="batchInsert" parameterType="list">
        insert into user_role(<include refid="Base_Column_List" />)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.userId},#{item.roleId},#{item.isUse},#{item.createDate},#{item.updateDate},#{item.createBy},#{item.updateBy})
        </foreach>
    </insert>


</mapper>