<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lww.dao.IUsersDao" >
    <sql id="Base_Column_List" >
    id, uid, username, password, phone, create_date, update_date, is_use
    </sql>
<update id="updateById" parameterType="com.cmpay.lww.entity.UsersDO">
    update users
    <set>
        <if test="username != null" >
            username=#{username,jdbcType=VARCHAR},
        </if>
        <if test="uid != null" >
            uid=#{uid,jdbcType=VARCHAR},
        </if>
        <if test="password != null" >
            password=#{password,jdbcType=VARCHAR},
        </if>
        <if test="phone != null" >
            phone=#{phone,jdbcType=CHAR},
        </if>
        <if test="createDate != null" >
            create_date=#{createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="updateDate != null" >
            update_date=#{updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="isUse != null" >
            is_use=#{isUse,jdbcType=INTEGER},
        </if>
    </set>
    where id= #{id,jdbcType=BIGINT}
</update>

    <update id="deleteBatch" parameterType="list">
        update users set is_use = 1
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")" >
            #{item}
        </foreach>
    </update>
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>
        from users
        where id=#{userId,jdbcType=BIGINT}
    </select>
</mapper>